DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=gestion_formateurs
DB_USER=root
DB_PASSWORD=
APP_FRONTEND_URL=http://localhost:5173
APP_DEBUG=false
APP_ENV=development
SENTRY_DSN=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=Gestion des horaires
